<h1>Spaces</h1>

<ul>
      <li>
        Name: <%= @space.name %></a><br>
        Location: <%= @space.address %><br>
        Description: <%= @space.description %><br>
        Price per night: <%= @space.price %><br><br>
      </li>
  <form action="/spaces" method="get">
  <input type="submit" value="All Spaces">
  </form>
</ul>
