<h1>Spaces</h1>

<ul>
      <li>
        Name: <%= @space.name %></a><br>
        Location: <%= @space.address %><br>
        Description: <%= @space.description %><br>
        Price per night: <%= @space.price %><br><br>
      </li>
  <a href="http://localhost:9292/spaces">All Spaces</a>
</ul>
