<h1>Spaces</h1>

<ul>
  <% @spaces.each do |space| %>
      <li>
        Name: <a href="http://localhost:9292/spaces/<%=space.id%>" ><%= space.name %></a><br>
        Price per night: £<%= space.price.to_i %><br><br>
      </li>
  <% end %>
</ul>
