<head>
  <meta charset="utf-8">
  <title>Spaces</title>
</head>

<body>
  <div class="spaces_container">
    <h1>Spaces</h1>

    <ul style="list-style: none;">
      <li style="list-style: none;">
        <% @spaces.each do |space| %>
        <div class="individual_space_summary">
          <%= space.name %><br>
          £<%= space.price.to_i %> per night<br><br>
          <form action="/spaces/<%=space.id%>" method="get" >
            <input type="submit" value="View space">
          </form>
        </div><br><br>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="new_space_button">
    <form action="/spaces/new" method="get">
      <input type="submit" value="Add new space">
    </form>
  </div>
</body>

<style>
.individual_space_summary {
  color: black;
  font-size: 14px;
  font-weight: 400;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.spaces_container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  position: inherit;
  justify-content: left;

}
.new_space_button {
  position: absolute;
  padding-top: 18px;
  right: 20px;
}
</style>
