<h1>Spaces</h1>

<ul>
  <% @spaces.each do |space| %>
      <li>
        Name: <%= space.name %><br>
        Location: <%= space.address %><br>
        Description: <%= space.description %><br>
        Price per night: <%= space.price %><br><br>
      </li>
  <% end %>
</ul>
