<h1>Spaces</h1>

<ul>
  <% @spaces.each do |space| %>
  <li>
    Name: <%= space.name %><br>
    Price per night: £<%= space.price.to_i %><br>
    <form action="/spaces/<%=space.id%>" method="get" >
      <input type="submit" value="View space">
    </form><br><br>
  </li>
  <% end %>
  <form action="/spaces/new" method="get">
    <input type="submit" value="Add new space">
  </form>
</ul>
