<form action="/bookings" method="post">
  <h2>Check-in date</h2>
  <div>
    <input name ="start_date" type="date" data-date-inline-picker="false" data-date-open-on-focus="true" />
  </div>
  <h2>Check-out date</h2>
  <div>
    <input name ="end_date" type="date" data-date-inline-picker="false" data-date-open-on-focus="true" />
  </div>
  <br/>
  <div>
    <input type="submit" value="Request to book" />
    <input type="hidden" name="space_id" value="<%= @space_id %>">
  </div>
</form>
