<% if @logout %>
  <h1>You have logged out!</h1>
<% end %>

<form action="/users/sign_up">
  <input type="submit" value="Sign up"/>
</form>

<h2> Login to Makers BnB </h2>
<form action="/sessions" method="POST">
  <input type="email" name="email" required="true" placeholder="Email"><br><br>
  <input type="password" name="password" required="true" placeholder="Password"><br><br>
  <input type="submit" value="Login">
</form>
