<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Makers BnB</title>
  </head>
  <body>
    <% if current_user %>
      <p> Logged in as <%= current_user.name %> </p>
      <% end %>
    <%= yield %>
  </body>
</html>
